<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h3>여러가지 ModelAttribute 전달방법</h3>
  <p>
    <ul>
      <li><a th:href="@{/mapping/page}">page.html 이동</a></li>
      <li>
        <a th:href="@{/mapping/requestMapping}">
          Request Mapping And Model
        </a>
      </li>
      <li>
        <a th:href="@{/mapping/modelAndView}">
          Model And View
        </a>
      </li>
      <li>
        <a th:href="@{/mapping/redirectViewFirst}">
          Model And View 1
        </a>
      </li>
      <li>
        <a th:href="@{/mapping/redirectViewSecond}">
          Model And View 2
        </a>
      </li>
  </ul>
  </p>
  <p>
    <h3>외부 URL 사용</h3>
    <ul>
      <li><a th:href="@{/mapping/naver}">Naver</a></li>
      <li><a th:href="@{/mapping/react}">React Page</a></li>
    </ul>
  </p>
</body>
</html>