<!DOCTYPE html>
<html
        xmlns:th="www.thymeleaf.org"
        xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate=~{layout/layout}
>
  <div layout:fragment="content">
      <table class="table m-2">
          <thead>
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Title</th>
              <th scope="col">Content</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <th scope="row" th:text="${dto.id}">1</th>
              <td th:text="${dto.title}">제목111</td>
              <td th:text="${dto.content}">내용 1111</td>
          </tr>
          </tbody>
      </table>
      <a th:href="@{|/articles/${dto.id}/update|}" class="btn btn-primary">Edit</a>
      <a th:href="@{|/articles/${dto.id}/delete|}" class="btn btn-danger">Delete</a>
      <a href="/articles">Go to Article List</a>
      <br><br>
      <div class="card m-2" th:each="comment : ${dto.comments}"
                th:object="${comment}">
          <div class="card-header">
              <span th:text="*{nickname}">Featured</span>
              <a class="btn btn-sm btn-outline-primary">수정</a>
              <a class="btn btn-sm btn-outline-primary" id="comment-delete-btn">삭제</a>
          </div>
          <div class="card-body">
              <p class="card-text" th:text="*{body}">With supporting text below as a natural lead-in to additional content.</p>
          </div>
      </div>

      <form>
          <!-- 닉네임 입력-->
          <div class="m-2">
              <label class="form-label">닉네임</label>
              <input type="text" class="form-control" id="new-comment-nickname">
          </div>
          <!-- 댓글 본문 입력-->
          <div class="m-2">
              <label class="form-label">댓글 내용</label>
              <textarea type="text" class="form-control" rows="3" id="new-comment-body"></textarea>
          </div>
          <!-- 전송버튼-->
          <button type="button" class="btn btn-primary" id="comment-create-btn">댓글 작성</button>
      </form>
  </div>
</html>