<!DOCTYPE html>
<html
        xmlns:th="www.thymeleaf.org"
        xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate=~{layout/layout}
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div layout:fragment="content" class="content">
      <!--  삭제 처리 후 메시지 보이기    -->
      <div th:unless="${msg==null}">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>[[ ${msg} ]]</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      </div>
      <table class="table">
          <thead>
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Title</th>
              <th scope="col">Content</th>
          </tr>
          </thead>
          <tbody>
          <div>
              <tr th:each="article : ${articles}" th:object="${article}">
                  <th scope="row" th:text="*{id}">1</th>
                  <td>
                      <a th:href="@{|/articles/*{id}|}" th:text="*{title}">제목111 </a>
                  </td>
                  <td th:text="*{content}">내용 1111</td>
              </tr>
          </div>
          </tbody>
      </table>
      <a href="/articles/new">New Article</a>
  </div>
</body>
</html>