<!DOCTYPE html>
<html
        xmlns:th="www.thymeleaf.org"
        xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate=~{layout/layout}
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div layout:fragment="content" class="content">
      <form class="container" th:action="@{/articles/update}" method="post" >
          <input type="hidden" th:field="${dto.id}">
          <div class="mb3">
              <label class="form-label">제목</label>
              <input type="text" class="form-control" name="title" th:field="${dto.title}">
          </div>
          <div class="mb-3">
              <label class="form-label">내용</label>
              <textarea class="form-control" row="3" name="content" th:field="${dto.content}"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="/articles">Go to Article List</a>
      </form>
      <script>
          $(document).ready(function(){
            $("#btnReset").on("click", function(){
                $("#frm")[0].reset();
            })

            $("#btnSave").on("click", function(){
                event.preventDefault();
                if($("#title").val() == ''){
                    alert("제목을 입력하세요")
                    $("#title").focus();
                    return;
                }
                if($("#contents").val() == ''){
                    alert("내용을 입력하세요")
                    $("#contents").focus();
                    return;
                }
                $("#frm")[0].submit();
            })
          })
      </script>
  </div>
</body>
</html>